@import '../../base.scss';

.search_inp {
  position: relative;
  width: 263px;
  height: 59px;
  padding: 13px 10px 13px 20px;
  gap: 10px;
  background: #ededed;
  border-radius: 36px;
  margin-left: 15px;
  margin-top: 4px;
  margin-bottom: 25px;
  &:focus {
    border: 1px solid $mainColor_1;
  }

   @media (max-width: 880px) {
    width: 200px;
    height: 40px;
    font-size: 14px;
    gap: 0;
    margin: 50px 0 0 0;
   }
}

.search-container{
  position: relative;
}

.clear-button {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  color: red;
}